*{
    margin: 0;
    padding: 0;
}
header
{
  background-image: url(../web/bg.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;

}
.main-nav
{
 float: right;
 
list-style: none;
margin-top: 30px;
}
.main-nav li
{
    display: inline-block;
   
}
.main-nav li a
{
    color: white;
    text-decoration: none;
    padding: 5px 20px ;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

.main-nav li a:hover
{
    border-radius: 1px solid white;
    border-radius: 25px;
}
.logo img{
    width: 150px;
    height: auto;
    float: left;
    
    

}
body{
    font-family: monospace;
}
.row{
    max-width: 1200px;
    margin: auto;
}


 .head {
    color:blue;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    padding-top:280px ;
    
}
.button
{
    text-align: center;
    
}
.but1
{
    border: 2px solid white ;
    text-decoration: none;
padding: 4px;
color: yellow;
text-transform: uppercase;
font-size: 55px;
}
.but2
{
    border-radius: 2px solid white ;

    text-decoration: none;
    padding: 4px;
    color: yellow;
    text-transform: uppercase;
    font-size: 55px;
  

}
.but1:hover
{
    color: red;
    text-transform: uppercase;
}
.but2:hover
{
    color: red;
    text-transform: uppercase;
}
.active{
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(blue,red ),radial-gradient(circle at top left,#fd00da,#1199dd);
    background-origin: border-box;
    background-clip: content-box,border-box;
}


.heading 
{
    font-size: 50px;
    color: blue;
    text-align: center;
    text-transform: uppercase;
}
*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background: #eeeeee;

}
.main{
    width: auto;
    margin-top:  200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap ;
}
.main .con
{
    width: 220px;
    height: auto;
    margin: 10px;
    background: #ffffff;
    padding: 30px 40px 60px;
    border-radius:5px  ;
    border: 1px solid #e6e6e6;
    
}
.con img{
    width: 120px;
    

}
.main .item_1 h3{
    text-transform: uppercase;
    padding-bottom:20px ;
    font-size: 15px;

}

.main .item_2 h3{
    text-transform: uppercase;
    padding-bottom:20px ;
    font-size: 15px;
}
.main .item_3 h3{
    text-transform: uppercase;
    padding-bottom:20px ;
    font-size: 15px;
}

.main .item_4 h3{
    text-transform: uppercase;
    padding-bottom:20px ;
    font-size: 15px;
}
.info{

    background:rgb(238, 241, 238);
    
}
.heading
{
    background-color: red;
    text-align: center;
}

*{
    margin: 0;
    padding: 0px;
}
body{
     width: 1370px;
}

.media
{
    
margin: 0 auto;
width: 1000px;
justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 150px;
       
}

.me{
    width: 120px;
    
    }

    .media1
{
    
margin: -110px auto;
width: 1000px;
justify-content: left;
    align-items: left;
    display: flex;
    padding-top: -30px;
    padding-left: 100px;

       
}

.me1{
    width: 100px;
    
    }
    .media2
    {
        
    margin: 10px auto;
    width: 1000px;
    justify-content: flex-end;
        
        display: flex;
        padding-right: 30px;
        
    
           
    }
    
    .me2{
        width: 100px;
        
        }
.twi
{
    
    
    text-transform: uppercase;

}
.fac{
    text-align: center;
    text-transform: uppercase;
}
.ins{
    text-align: center;
    text-transform: uppercase; 
}
