*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: lawngreen;
    width: 1300px;
    height: 500px;
}

.main
{
    
   display: flex;
   width: 1200px;
   font-family: sans-serif;
}
.main img
{
    width: 500px;
    padding: 0px 100px ;
}
.heading h4
{
   width: 700px
   
   
}

h2{
    font-family: sans-serif;
    
    
}

}

h4,h2
{
    padding: 30px 0 0 0;
    
}
h4{
    font-weight: normal;
}
p{
    padding: 20px 0 0 0;
    font-size: 15px;
    
}
.heading{
    text-align: left;
   padding-top: 90px;
  
}


.but a
{
    color: white;
    border: 5px solid transparent;
    border-radius: 30px;
    background-image: linear-gradient(rgb(98, 98, 243),rgb(66, 47, 236) ),radial-gradient(circle at top left,#fd00da,#1199dd);
    text-decoration: none;

}
.but  a:hover
{
    color: yellow;
}
.btn{
    color: white;
    border: 5px solid transparent;
    border-radius: 30px;
    background-image: linear-gradient(rgb(98, 98, 243),rgb(66, 47, 236) ),radial-gradient(circle at top left,#fd00da,#1199dd);
    width: max-content;
    margin-top:17px ;
}
.btn a
{
    text-decoration: none;
    color: white;
}
.btn  a:hover
{
    color: yellow;